.formContactoContainer, .contenedorMapa, .gifNosotros, .tituloNosotros2, .descripcionNosotros, .cardLinkHomeContainer, .pagination, .cards, .carousel-0km, .carousel-home, .cardTexto, .cardProductosContainer, footer ul li, h4, h3, .h2-verde, h2, h1, header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

header {
  height: 10vh;
  background-color: rgb(202, 147, 202);
  width: 100%;
}
header img {
  height: 12vh;
}
header nav ul {
  margin-top: 1rem;
}
header nav ul li {
  padding: 5px 30px;
}
header nav ul li a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #f8f9fa;
}
header nav ul li a:hover {
  color: #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}

.formContactoContainer, .contenedorMapa, .gifNosotros, .tituloNosotros2, .descripcionNosotros, .cardLinkHomeContainer, .pagination, .cards, .carousel-0km, .carousel-home, .cardTexto, .cardProductosContainer, footer ul li, h4, h3, .h2-verde, h2, h1, header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

h1 {
  color: #f8f9fa;
  padding-top: 40px;
  font-weight: bold;
}

h2 {
  color: #f8f9fa;
  font-weight: 200;
}

.h2-verde {
  color: #198754;
  font-weight: 200;
}

h3 {
  color: #f8f9fa;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 40px;
}

h4 {
  color: #dc3545;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 40px;
}

h5 {
  color: #dc3545;
  font-weight: 400;
}

.formContactoContainer, .contenedorMapa, .gifNosotros, .tituloNosotros2, .descripcionNosotros, .cardLinkHomeContainer, .pagination, .cards, .carousel-0km, .carousel-home, .cardTexto, .cardProductosContainer, footer ul li, header nav, h1, h2, .h2-verde, h3, h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

footer {
  background-color: rgb(202, 147, 202);
  height: 10vh;
  padding-left: 20px;
}
footer img {
  height: 10vh;
}
footer ul li {
  text-decoration: none;
  list-style: none;
  color: #f8f9fa;
}
footer ul li a {
  text-decoration: none;
  color: #f8f9fa;
}
footer ul .tittle-footer {
  font-size: 20px;
  text-align: center;
}
footer ul .text-footer {
  padding-top: 5%;
}

.formContactoContainer, .contenedorMapa, .gifNosotros, .tituloNosotros2, .descripcionNosotros, .cardLinkHomeContainer, .pagination, .cards, .carousel-0km, .carousel-home, .cardTexto, .cardProductosContainer, header nav, h1, h2, .h2-verde, h3, h4, footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

.producto.tittle {
  font-weight: bold;
  font-size: 20px;
  color: #f8f9fa;
}

.autos-secondary {
  font-weight: 300;
  color: #6c757d;
  font-size: 16px;
}

.autos-price {
  font-weight: 400;
  color: #dc3545;
  font-size: 18px;
}

.imgProducto {
  height: 330px;
  width: 100%;
}

.cardProductosContainer {
  margin-left: 50px;
  margin-right: 50px;
}

.cardProducto {
  height: 450px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px #6c757d solid;
}

.cardTexto {
  margin: 0;
}

@media (max-width: 768px) {
  .cardProductosContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  .cardProducto {
    height: 400px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .imgProducto {
    height: 330px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .cardProductosContainer {
    display: block !important;
    margin-left: 50px;
    margin-right: 50px;
  }
  .cardProducto {
    height: 420px;
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  .imgProducto {
    height: 280px;
    width: 100%;
  }
}
.formContactoContainer, .contenedorMapa, .gifNosotros, .tituloNosotros2, .descripcionNosotros, .cardLinkHomeContainer, .pagination, .cards, .carousel-0km, .carousel-home, header nav, h1, h2, .h2-verde, h3, h4, footer ul li, .cardProductosContainer, .cardTexto {
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

main {
  background-color: #212529;
  min-height: 80vh;
}

.carousel-home {
  padding-top: 20px;
}

.row p {
  margin-bottom: 0%;
}

.espacio-al-footer {
  height: 200px;
}

.box {
  position: absolute;
}

input.src {
  padding: 9px 10px 9px 32px;
  outline: none;
  font-size: 14px;
  border-radius: 15px;
  color: #f8f9fa;
}

.espacio-100 {
  height: 100px;
}

.espacio-50 {
  height: 50px;
}

.article {
  color: #f8f9fa;
  font-family: "Courier New", Courier, monospace;
}

.cardLinkHomeContainer {
  margin-left: 50px;
  margin-right: 50px;
}

.cardLinkHome {
  height: 300px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.cardTexto1 {
  position: absolute;
  top: 0;
  z-index: 999;
}

.imgCardLinkHome {
  width: 100%;
  height: 300px;
}

.descripcionNosotros {
  color: #f8f9fa;
  text-align: center;
  font-size: 20px;
  padding: 0;
  padding-top: 20px;
}

.tituloNosotros2 {
  color: #f8f9fa;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 40px;
}

.formContactoContainer {
  margin-top: 50px;
}

.formContacto {
  width: 60%;
  border: 1px #6c757d solid;
}

@media (max-width: 768px) {
  .formContacto {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .cardProductosContainer {
    display: block !important;
    margin-left: 50px;
    margin-right: 50px;
  }
  .cardProducto {
    height: 420px;
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  .imgProducto {
    height: 280px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
