$negro: #212529;
$blanco: #f8f9fa;
$rojo:  #dc3545;
$amarillo: #ffc107;
$verde: #198754;
$azul: #0d6efd;
$gris: #6c757d;
$celeste: #0dcaf0;
$violeta: #6f42c1;
$naranja:  #fd7e14;
$lila: rgb(202, 147, 202)